.pagesolo{
	top: 6em;
}
.page1v1{
	top: 6em;
}
.pagesindex{
  top: 6em;
}
.contentsolo{
	width:25vw;
}

.content1v1{
	width:25vw;
}

.contentindex{
}

.navpanel{
}
/* General all pages combined */

body{
	background-color: #FEF5E7;
	font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

ul.navbar {
  position: fixed;
  top: -0em;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 2;
  background-color:white;
  border: 0.1em solid black;
}
ul.navbar li {
  display: inline-block; 
  background: #C1C1C1;
  margin: 0.5em 0;
  padding: 0.3em;
  border: 0.1em solid black;
  border-radius: 0.6em;
}
ul.navbar li {
  width: 150px;
  height: 25px;
  margin: 5px;
}
ul.navbar a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

.navbar li {
  position: relative;
}

ul.navbar a:not(.active):hover {
	font-weight: bold;
}

.navbar li::before,
.navbar li::after {
  content: "";
  position: absolute;
  bottom: 8px;
  width: 0;
  height: 0.5px;
  background-color: black;
  transition: width 1s cubic-bezier(0.65, 0.05, 0.39, 1.38);
}
.navbar li::before {
  left: 50%;
  transform: translateX(-50%);
}
.navbar li::after {
  right: 50%;
  transform: translateX(50%);
}
.navbar li:hover::before,
.navbar li:hover::after {
  width: 50%;
}



.active {
	font-weight: bold;
}
/* index page */


.titleIndex {
		text-align: center;
		font-size: 5em;
		margin-block-start: 1.67em;
		margin-block-end: 0.67em;
		text-shadow: 2px 2px 5px #000, -2px -2px 5px #000, 2px -2px 5px #000, -2px 2px 5px #000;
		color:white;
}
.title2Index {
		padding-left:2em;
		font-size: 3.5em;
		margin-block-start: 1.25em;
		margin-block-end: 0.67em;
		text-shadow: 2px 2px 5px #000, -2px -2px 5px #000, 2px -2px 5px #000, -2px 2px 5px #000;
		color:white;
}
	
.textIndex {
	font-size:1.75em;
}

.textIndexbut {
	display: block;
	margin: 0 auto;
	font-size: 1.50em;
	width: 85%;
	margin-block-end: 10em;
	background-color: white;
	padding: 0.5em;
	border: 0.1em solid black; 
	border-radius: 0.7em;
}



/* solosnake and 1v1snake page if same */

#solojs {
	position: fixed;
	top: 3.5em;
	left: 5em;
	right: 0;
	margin: auto;
	border: 1.3vw solid black;
	border-radius: 2vw;
	height: 80vh;
	width: 80vh;
	max-height: calc(100vh - 9em);
	max-width: calc(100vh - 9em);
	min-height: 40vh;
	min-width: 40vh;
	aspect-ratio: 1/1;
	background-image: url('SRC/IMG/HTML/background.png');
	background-size: cover;
	z-index: 1;
}


.titleSnake {
	font-size: 2.5em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	text-shadow: 2px 2px 5px #000, -2px -2px 5px #000, 2px -2px 5px #000, -2px 2px 5px #000;
	color:white;
}

.title2Snake {
	font-size: 2em;
}

.imgSnake {
}

.textSnake {
}

.infotextSnake {
	font-size: 0.6em;
}

#restart {
	border: 0.1em solid black;
	position: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	top: 46.1vw;
	left: 5em;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
	border-radius: 1em;
	z-index: 2;
}
#restart::before,
#restart::after {
  content: "";
  position: absolute;
  bottom: 1.7px;
  width: 0;
  height: 0.5px;
  background-color: black;
  transition: width 1.5s ease-out;
}
#restart::before {
  left: 50%;
  transform: translateX(-50%);
}
#restart::after {
  right: 50%;
  transform: translateX(50%);
}
#restart:hover::before,
#restart:hover::after {
  width: 35%;
}

#start {
	border: 0.1em solid black;
	position: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	top: 46.1vw;
	left: 5em;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
	border-radius: 1em;
	z-index: 2;
}


#start::before,
#start::after {
  content: "";
  position: absolute;
  bottom: 1.7px;
  width: 0;
  height: 0.5px;
  background-color: black;
  transition: width 1.5s ease-out;
}
#start::before {
  left: 50%;
  transform: translateX(-50%);
}
#start::after {
  right: 50%;
  transform: translateX(50%);
}
#start:hover::before,
#start:hover::after {
  width: 35%;
}

/* 1v1snake page if its different from solosnake */

