body{
	background-color: #FEF5E7;
	font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.titre {
	position: absolute;
	margin-top: 0px;
}

.commandes {
	position: absolute;
	margin-top: 60px;
}

.partcommandes {
	position: absolute;
	margin-top: 210px;
}

.imgcommandes {
	position: absolute;
	margin-top: 100px;
}

#canvas {
	border: 5px solid white;
  	padding: 0;
    	margin: auto;
    	display: block;
	height: 600px;
	width: 600px;
	background-image:
		url('IMG/HTML/background.png');	
}

#restart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
