/* General all pages combined */

body{
	background-color: #FEF5E7;
	font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

ul.navbar {
	position: fixed;
	top: -0em;
	left: 0;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	z-index: 2;
	background-color:white;
	border: 0.1vw solid black;
}

ul.navbar li {
	display: inline-block; 
	background: #C1C1C1;
	margin: 0.5vw 0;
	padding: 0.3vw;
	border: 0.1em solid black;
	border-radius: 0.6em;
}

ul.navbar li {
	width: 8em;
	height: 1.5em;
	margin: 0.1vw;
	font-size:0.8em
}

ul.navbar a {
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

.navbar li {
	position: relative;
}

ul.navbar a:not(.active):hover {
	font-weight: bold;
}

.navbar li::before,
.navbar li::after {
	content: "";
	position: absolute;
	bottom: 8px;
	width: 0;
	height: 0.5px;
	background-color: black;
	transition: width 1s cubic-bezier(0.65, 0.05, 0.39, 1.38);
}

.navbar li::before {
	left: 50%;
	transform: translateX(-50%);
}

.navbar li::after {
	right: 50%;
	transform: translateX(50%);
}

.navbar li:hover::before,
.navbar li:hover::after {
	width: 50%;
}

.active {
	font-weight: bold;
}



/* index page */

.index {
	background-image: url('../SRC/IMG/HTML/background.gif');
	background-size: cover;
}

.pagesindex{
	top: 6em;
}

.titleIndex {
	text-align: center;
	font-size: 5em;
	margin-block-start: 1.67em;
	margin-block-end: 0.67em;
	text-shadow: 0.03em 0.03em 0.07em #000, -0.03em -0.03em 0.07em #000, 0.03em -0.03em 0.07em #000, -0.03em 0.03em 0.07em #000;
	color:white;
}
.title2Index {
	padding-left:2em;
	font-size: 3.5em;
	margin-block-start: 1.25em;
	margin-block-end: 0.67em;
	text-shadow: 0.06em 0.06em 0.1em #000, -0.06em -0.06em 0.1em #000, 0.06em -0.06em 0.1em #000, -0.06em 0.06em 0.1em #000;
	color:white;
}
	
.textIndex {
	font-size:1.75em;
}

.textIndexbut {		display: block;
	margin: 0 auto;
	font-size: 1.50em;
	width: 85%;
	margin-block-end: 10em;
	background-color: white;
	padding: 0.5em;
	border: 0.1em solid black; 
	border-radius: 0.7em;
	opacity: 0.6;
}



/* solosnake and 1v1snake */

.titleSnake {
	font-size: 2.5em;
	margin-block-start: 0.67vw;
	margin-block-end: 0.67vw;
	text-shadow: 0.06em 0.06em 0.1em #000, -0.06em -0.06em 0.1em #000, 0.06em -0.06em 0.1em #000, -0.06em 0.06em 0.1em #000;
	color:white;
}

.title2Snake {
	font-size: 2em;
}

.infotextSnake {
	font-size: 0.6em;
}

#restart {
	border: 0.1em solid black;
	position: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 28vh;
	font-size:2vh;
	top: 90vh;
	right: 0;
	left:5em;
	margin: auto;
	border-radius: 1em;
	z-index: 2;
}
#restart::before,
#restart::after {
	content: "";
	position: absolute;
	bottom: 1.7px;
	width: 0;
	height: 0.5px;
	background-color: black;
	transition: width 1.5s ease-out;
}
#restart::before {
	left: 50%;
	transform: translateX(-50%);
}
#restart::after {
	right: 50%;
	transform: translateX(50%);
}
#restart:hover::before,
#restart:hover::after {
	width: 35%;
}

#start {
	border: 0.1em solid black;
	position: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 28vh;
	font-size:2vh;
	top: 90vh;
	right: 0;
	left:5em;
	margin: auto;
	border-radius: 1em;
	z-index: 2;
}


#start::before,
#start::after {
	content: "";
	position: absolute;
	bottom: 1.7px;
	width: 0;
	height: 0.5px;
	background-color: black;
	transition: width 1.5s ease-out;
}
#start::before {
	left: 50%;
	transform: translateX(-50%);
}
#start::after {
	right: 50%;
	transform: translateX(50%);
}
#start:hover::before,
#start:hover::after {
	width: 35%;
}



/* solosnake page */

#snake {
	position: fixed;
	top: 5rem;
	left: 5em;
	right: 0;
	margin: auto;
	border: 2vh solid black;
	border-radius: 2vw;
	height: 65vh;
	width: 65vh;
	aspect-ratio: 1/1;
	background-image: url('../SRC/IMG/HTML/background-snake.png');
	background-size: cover;
	z-index: 1;
}

.pagesolo{
	top: 6em;
}

.contentsolo{
	width:25%;
}



/* 1v1snake page */

.divcanva {
	display: inline-block;
	position: fixed;
	margin: auto;
	right: 0;
	left: 0;
	top: 5rem;
	width: 100%;
	text-align: center;
	left: 5em;
}

#snakeJ1 {
	border: 1.4vh solid black;
	border-radius: 1.2vw;
	height: 55vh;
	width: 55vh;
	aspect-ratio: 1/1;
	background-image: url('../SRC/IMG/HTML/background-snake.png');
	background-size: cover;
}

#snakeJ2 {
	border: 1.4vh solid black;
	border-radius: 1.2vw;
	height: 55vh;
	width: 55vh;
	aspect-ratio: 1/1;
	background-image: url('../SRC/IMG/HTML/background-snake.png');
	background-size: cover;
}

.page1v1{
	top: 6em;
}

.content1v1{
	width:25%;
}
